.imgDivTop{
    width:100%;
    margin:0;
    padding:0;

}
.imgDivTop img{
    width:100%;
    border-bottom: #014a7f 2px solid;

}

.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 2%;
    margin-bottom: 2%;
}
.content1 h2{
    font-weight: normal;
}
.content1 p{
    line-height: 150%;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    margin-right: 10%;
    padding-top: 2%;
    margin-bottom: 2%;
    border-top: #9a1813 2px solid;
}

.content2 p{
    line-height: 150%;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

.content3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left:10%;
    margin-right: 10%;
    border-top: #014a7f 2px solid;
}
.content3 button{
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin:5%;
    font-size: x-large;
    padding:1%;
}
.content3 button:hover{
    opacity: 0.85;
}
@media screen and (max-width: 1200px) {
    .content3{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .content3 button{
        margin: 0;
        padding: 0;
        margin-top: 5%;
        padding: 2%
    }

    .content1 p{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .content2 p{
        margin-left: 2%;
        margin-right: 2%;
    }
}


.content4{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}
.content4 p{
    line-height: 150%;
}



.content5{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.content5 div{
    padding: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:30%;
    background-color:  #f2f2f2;
    flex-basis: 30%;
    border-radius: 10px;
}




@media screen and (max-width: 1200px) {
    .content5{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .content5 div{
        width: 100%;
        margin: 2%;
    }

    

}


.content5 p{
    line-height: 150%;
}

.content5 h2{
    font-weight: 400;
}

.content6{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:#ffe6e6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.content6 h1{
    font-weight: 400;
}

.content6 p{
    line-height: 150%;
}