.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    padding-top: 1%;
}

.content1 h1{
    color: #014a7f;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    padding-top: 1%;
}

.content2 .imgRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: large;
    margin-left: 1%;
    margin-right:1%;
}

.imgDiv img{
    width: 100%;
    border-radius: 5px;
    padding-bottom: 4%;
}

@media only screen and (max-width: 1200px) {
    .content2 .imgRow{
        flex-direction: column;
    }
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#imageViewer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#imageViewer img {
    max-width: 100%;
    max-height: 120%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px; 
}


.prev:hover, .next:hover {
    background-color: #1c202a;
}

@media only screen and (max-width: 1200px) {
    #imageViewer{
        width: 90%;
    }
}