.imgDivTop{
    width:100%;
    margin:0;
    padding:0;

}
.imgDivTop img{
    width:100%;
    border-bottom: #014a7f 2px solid;

}

.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left:10%;
    margin-right:10%;
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: #9a1813 2px solid;
}

.content1 h2{
    font-weight: 400;
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    border-bottom: #014a7f 2px solid;
}
.content2 h2{
    font-weight: 400;
}
.content2 p{
    line-height: 150%;
}

.content3{
    margin-left:10%;
    margin-right:10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

